*{
    margin: 0px;
    padding: 0px;
}
.font-open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.colour-orange{
    color: #f16027;
}

header{
    background-color:#FFF8F3;
    padding-top: 50px;

}
nav{
    width: 71%;
    max-width: 1140px;
   // border: 1px solid red;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
     align-items: center;
}
.btn{
    background-color: #f16027;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #dbdbdb;
}
nav .manu {
    display:flex;
    gap: 51px;
    list-style-type: none ;
    align-items: center;
}
  
nav .manu a{
    color: rgb(128, 92, 117);
    font-size: 20px;
    text-decoration: none;



}